*{
  margin: 0;
  padding: 0;
}
body{
  color:white;
  background-color: black;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 20px;
  background-color: rgb(20, 76, 243);
  font-size: 20px;
}
a{
  color: white;
}
header{
  display: flex;
  justify-content: center;
  padding: 200px;
}

h1{
  color: white;
}
footer img{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  background-color: rgb(20, 76, 243);
}
footer a{
  margin: 20px;
  text-align: center;
  text-decoration: none;
}
footer p{
  margin-top: 2px;
}
section img{
 width:400px;
 height: 200px;
 
}
.skills{
  text-align: center;
  padding: 50px;
}

.experienciascontainer{
  padding: 50px;
  margin: 10px;
  text-align: left;
  
}
.cursos p{
  margin-bottom: 30px;
}
section h3{
  margin-bottom: 30px;
}

