*{
    margin: 0; padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(https://i0.wp.com/emotioncard.com.br/wp-content/uploads/2019/04/plano-de-fundo-preto28.jpg?resize=1120%2C700&ssl=1);
    color: aliceblue;
    
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(204, 196, 233, 0.788);
    font-size: 18px;
    border: 1px solid rgb(10, 3, 3);
    /* border-top: 1px solid black; */
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}
.MenuButton{
    padding: 20px;

}
.logo{
    margin-left: 20px;
}

/* main{
    margin-top: 80px;
} */

.section{
    display: flex;
    width: 100%;
    height: 100vh;
}

.home{
    position: relative;

}

.ContainerHome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.ContainerSkills{
    position: absolute;
    margin-left: 40%;
     
}
.skill{
    position: relative;
    padding: 90px;
    
}


.skills{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    
}
.iconskill{
    padding: 30px;
}
.experiencias{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}   
.experiencia{
    border: 1px solid rgb(190, 184, 184);
    margin: 10%;
    padding: 20px;
    
}
footer{
    display: flex;
    margin:0;
    background-color: rgba(204, 196, 233, 0.788);
    padding: 50px;
    margin:0;
}
.contact{
    margin-left: 40%;
}



